/*ENTIRE TAB CONTAINER*/

.tabs-display {
    padding: 1.5% 0;
    background-color: #313547;
    border-radius: 1px;
    height: 100%;
    width: 80vw;
}

/*TAB NAV BAR*/
.tab-nav {
    height: 10%;
    display: flex;
    overflow-x: auto
}

/*ACTUAL TAB STUFF*/
.tab {
    height: 90%;
    background-color: rgb(43, 43, 43);
    overflow-y: auto;
    width: 98.5%;
}

/*SEAN TAB STUFF*/
.sean-tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-site {
    padding: 1.5%;
}

#syntax {
    padding: 1.5% !important;
}

.expand-hover:hover {
    transform: scale(1.5, 1.5);
    transition: transform .20s;
}


/*LIFT QUEST TAB STUFF*/

.lift-quest-image {
    display: block;
    max-width: 80%;
    margin: 0 auto;
}

.liftquest-content {
    padding: 1.5%;
}


/*ROAD TO CANADA STUFF*/

.rpg-images {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.rpg-images img {
    display: block;
    max-width: 80%;
    margin: 0 auto;
}

.road-to-canada-content {
    padding: 1.5%;
}


/*TREASURE HUNT*/

.treasure-hunt-content {
    padding: 1.5%;
}


/*TAB-NAV BUTTON STYLING **************************************/
.button-tab {
    font-family: 'Inconsolata', monospace;
    background-color: #282a36;
    font-size: 1.4em;
    height: 100%;
    border: none;
    border-radius: 1px;
    border-right: .5px white solid;
}

.button-tab:focus {
    outline: 0;
}

.button-tab:hover {
    background-color: #6272a4;
    color: black;
}


#selected-tab {
    background-color: #7fa8eb;
    color: black;
}

#display-none {
    display: none;

}

#display {
    /*-webkit-animation: fade-in 1s;*/
    /*animation-timing-function: linear;*/
}

@keyframes fade-in {
    0% {
        display: block;
        opacity: 25%;
    }
    50% {
        opacity: 75%;
    }
    75% {
        opacity: 90%;
    }
    100% {
        opacity: 100%;
    }
}

/****************************************************/


@media only screen and (max-width: 800px) {
    .tabs-display {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .lift-quest-image {
        max-width: 100%;
    }

    .tab {
        width: 100%;
    }

    .tab-nav {
        height: 7.5%;
    }
}
