/*Drag and drop styling***************************************/
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}
/**********************************************************************/


.tabs-display {
    background-color: #313547;
    border-radius: 1px;
    height: 105%;
    width: 80vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;

}

.tab-nav {
    height:10%;
    display:flex;
    align-items: flex-end;
    overflow-x: auto;

}

.tab-data {
    height: 90%;
}

.tab-projects {
    background-color: rgb(43, 43, 43);
    height:100%;
}


#syntax {
    height: 100%;
    padding:0 !important;
}


/*TAB-NAV BUTTON STYLING **************************************/
.button-tab {
    font-family: 'Inconsolata', monospace;
    background-color: #282a36;
    font-size: 1.4em;
    height:100%;
    border: none;
}


.lift-quest-image {
    display:block;
    max-width:50%;
    margin:0 auto;
}

@media only screen and (max-width: 600px) {
    .lift-quest-image {
        max-width: 100%;
    }
}


.button-tab:hover {
    background-color: #6272a4;
    color: black;
}

#selected-tab {
    background-color: #7fa8eb;
    color: black;
}

#display-none {
    display: none;
}

/****************************************************/


@media only screen and (max-width: 600px) {
    .tabs-display {
        width: 95%;
        margin: 0 auto;
    }
    .tab-nav {
        height: 12%;
    }
}
