.github-side-bar {
    background-color:#313547;
    border-radius: 1px;
    height: 100%;
    overflow-y: scroll;
    width:20vw;
    padding:1.5%;
}


@media only screen and (max-width: 800px) {
    .github-side-bar {
        display: none;
    }
}



