.App {
    margin:0 auto;
    height:100vh;
    max-width: 1200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding: 0 1.5%;
}

.content {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height:80%;

}

@media only screen and (max-width: 600px) {
    .App {
        padding: .5% .5%;
    }
}




/*Scrollbar effects*/
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



