.App {
    display:flex;
    justify-content: space-between;
    margin-top:10px;
    height:100vh;
}


/*Scrollbar effects*/
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


